.pidCol {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    height: auto;
    overflow-y: auto;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.leftSideCol {
    position: fixed;
    top: 70px;
    bottom: 0;
    overflow-y: auto;
}

.rightSideCol {
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0.25rem;
    overflow-y: auto;
}
