.form-control-post {
    width: 500px; 
    height: 100px;
}
.container-post {
    width:100%;
    background:#fff; 
    border-radius:6px;
    padding:20px;
    color:#626262;
}
.user-profile{
    display:flex; 
    align-items:center;
}
.user-profile img{
    width:45px;
    border-radius: 50%;
    margin-right:10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight:500; 
    color:#626262;
}
.button-group-post {
    display: flex;
    margin-top: 10px;
}

.button-group-post .btn {
    text-decoration:none; 
    display:flex; 
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
    padding: 5px 35px;
} 
.button-group-post .btn:hover{
    background-color: darkgray;
}
.button-post{
    align-items: center;
    margin-top: 8px;
    margin-right: 40px;
}
.button-group-post .btn i{
    width:20px;
    margin-right:10px;
}
.input-group-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.input-preview {
    padding-left:55px;
    padding-top:30px;
    overflow: hidden; /* Hide any part of the image that exceeds the size of the div */
}
.input-preview textarea{
    width:100%; 
    border:0; 
    outline:0; 
    border-bottom: 1px solid #ccc; 
    background: transparent;
}

.photo-preview {
    width: 300px; /* Ensure the image doesn't exceed the width of its container */
    max-height: 300px; /* Ensure the image doesn't exceed the height of its container */
    object-fit: contain;
    opacity: 1;
    overflow: auto;
}
.photo-preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
}
