.profile-container{
    
    display:flex; 
    justify-content: center;
    text-align: center;
}
.top-section{
    background-color: white;
    padding-right:250px; 
    padding-bottom:20px;
    border-radius: 4px;
    display: flex;
    align-items:flex-start;
}
.pd-row{
    
    align-items: flex-start;

} 
.pd-image{
    width:200px; 
    margin-right: 80px; 
    border-radius: 6px;
} 
.op {
    text-align: left; /* Align text to the left */
}

.op h3{
    font-size:25px; 
    font-weight:600;
    
}
.op p{
    font-size: 13px;
    color:blue;
}