.profile-container{
    
    display:flex; 
    flex-direction: column; 
    align-items: center;
    
}
.warper{
    display:flex; 
    flex-direction: row; 
    align-items: center; 
}
.top-section{
    background-color: white;
    padding-right:250px; 
    padding-bottom:10px;
    border-radius: 4px;
    margin-bottom: 20px;
    
    
}
.dark-mode .top-section{
    background-color: #333;
    color:#bebebe;
}
.bottom-section {
   
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
     /* Set width to 100% to take full width of the container */
}

.dark-mode .bottom-section {
    background-color: #333;
    color: #bebebe;
}
.pd-row{
    display:flex;
    align-items: flex-start;

} 
.pd-image{
    width:250px; 
    margin-right: 10px; 
    border-radius: 6px;
} 
.op {
    text-align: left; /* Align text to the left */
}

.op h3{
    font-size:25px; 
    font-weight:600;
    
}
.op p{
    font-size: 13px;
    color:blue;
}
.dark-mode .op p{
    color:teal;
} 
.pd-right{
    margin-right: -250px;
    padding-top: -90px;
    display:flex; 
    flex-direction:row-reverse; 
    align-items: center; 
}