.post1{
    display:flex; 
    justify-content: center;
    text-align: center;
}

.post {
    width:80%;
    background:#fff; 
    border-radius: 6px;
    padding:-20px;
    color:#626262;
    margin: 20px 0;
}
.text-profile{
    display:block
}
.user-profile span{
    font-size:13px;
    color: #9a9a9a;
}
.post .user-profile{
    padding: 20px;
}
.post .user-profile img{
    width:45px;
    border-radius: 50%;
    margin-right:10px;
    height: 50px;
}


.edit{
    background-color: white;
    padding: 0;
}

.topPost{
    display: flex;
}

.editButton {
    border: none;
    background-color: white;
    margin: 1px;
}
.card-body{
    display:flex;
    justify-content: left;
    padding:20px;
} 
