.post1{
    display:flex; 
    justify-content: center;
    text-align: center;
}

.post {
    width:610px;
    background:#fff; 
    border-radius: 6px;
    padding:-20px;
    color:#626262;
    margin: 20px auto;
    margin-left: 16px;
}
.text-profile{
    display:block
}
.user-profile span{
    font-size:13px;
    color: #9a9a9a;
}
.post .user-profile{
    padding: 20px;
}
.post .user-profile img{
    width:45px;
    border-radius: 50%;
    margin-right:10px;
    height: 50px;
}


.edit{
    background-color: white;
    padding: 0;
}

.topPost{
    display: flex;
}

.editButton {
    border: none;
    background-color: white;
    margin: 1px;
}
.card-body{
    justify-content: left;
    word-wrap: break-word;
    padding:20px;
    width: 70ch;
} 
.card-img-top {
    width: 300px; 
    height: 300px; 
}
.card-text-editTextArea {
    width: 100%;
    height: 100%;
}