.list-group-item{
    border: 0;
    background-color: transparent;
}
.list-group-item:hover{
    background-color: lightgray;
    cursor: pointer;
} 
.up_options{
    border-bottom: 1px solid #ccc;
}
.shortcut_title{
   display:flex;
   justify-content: space-between;
}  
.shortcut_title{
    margin-top: 25px;
    font-weight:500;
}
.shortcut_title a{
    color: blue;
} 

